<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ccee.videotool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".CCEEVideoToolApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ccee"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ccee"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 腾讯QQ登录 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1101973792" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".view.activity.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Transition_Slide_Bottom" />
        <activity
            android:name=".view.activity.SysSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AuditNoticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.VideoDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard|screenLayout"
            android:screenOrientation="portrait" />
        <activity android:name=".share.activity.WBShareActivity" />
        <activity
            android:name=".view.activity.VideoEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ChooseArticlesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Transition_Slide_Bottom"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".view.activity.UpLoadVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.VideoPlayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".view.activity.AgreementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".update.UpdateActivity"
            android:theme="@style/Translucent" />
    </application>

</manifest>